<html>
  <head>
    <title>ADD_DEL_Hotel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Add a Hotel</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Hotel name" name="hotelname" value="{{
        request.form.hotelname }}">
        <input type="name" placeholder="Address" name="address" value="{{
        request.form.address }}">
        <input type="text" placeholder="City" name="city" value="{{
        request.form.city }}">
        <input type="text" placeholder="Country" name="country" value="{{
        request.form.country }}">
        <input type="number" placeholder="Zipcode" name="zipcode" value="{{
        request.form.zipcode }}">
        <input type="text" placeholder="Property Type" name="propertytype" value="{{
        request.form.propertytype }}">
        <input type="number" placeholder="Star Rating" name="starrating" value="{{
        request.form.starrating }}">
        <input type="number" placeholder="Latitude" name="latitude" value="{{
        request.form.latitude }}">
        <input type="number" placeholder="Longitude" name="longitude" value="{{
        request.form.longitude }}">
        <input type="number" placeholder="Source" name="source" value="{{
        request.form.source }}">
        <input type="url" placeholder="URL" name="url" value="{{
        request.form.url }}">
        <input type="text" placeholder="Currency" name="curr" value="{{
        request.form.curr }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>
