<html>
	<head>
    	<title>Show Hotels</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  	</head>
<body>
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="invoice p-5">
                    <h5>Your order Confirmed!</h5> <span class="font-weight-bold d-block mt-4">Hello, {{ data.username }}</span> <span>You order has been confirmed and will be shipped in next two days!</span>
                    <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
                       
                    </div>
                    <div class="product border-bottom table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td width="20%"> <img src="https://images.unsplash.com/photo-1590073242678-70ee3fc28e8e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxzZWFyY2h8MXx8aG90ZWwlMjByb29tfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60" width="90"> </td>
                                    <td width="60%"> <span class="font-weight-bold">Hotel: {{data.hotelName}}</span>
                                        <div class="product-qty"> <span class="d-block">Room: {{data.room}}</span> <span>From:{{data.from}}</span> <br> <span>To:{{data.to}}</span> </div>
                                    </td>
                                    <td width="20%">
                                        <div class="text-right"> <span class="font-weight-bold">${{data.rawPay}}</span> </div>
                                                  <div class="text-right"> <span class="font-weight-bold">-${{data.discount}}</span> </div>
                                    </td>
                                    
                                </tr>
                              
                            </tbody>
                        </table>
                    </div>
                    <div class="row d-flex justify-content-end">
                        <div class="col-md-5">
                            <table class="table table-borderless">
                                <tbody class="totals">
                                    <tr>
                                        <td>
                                            <div class="text-left"> <span class="text-muted">Subtotal</span> </div>
                                        </td>
                                        <td>
                                            <div class="text-right"> <span>${{data.toPay}}</span> </div>
                                        </td>
                                    </tr>
                                                                        </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <p>We will be sending booking confirmation email when the paid successfully!</p>
                    <p class="font-weight-bold mb-0">Thanks for shopping with us!</p>
                </div>
                <form action="" method="post"> 
                	<button type="submit" class="btn btn-success">Pay</button>
                </form>
                <div class="d-flex justify-content-between footer p-3"> <span>Need Help? visit our <a href="#"> help center</a></span> <span>{{data.date}}</span> </div>
                
                <div class="d-flex justify-content-between footer p-3"> <span>Error: {{data.error}}</span> </div>
                      {% if error %}
        <p class="error"> {{ error }}
      {% endif %}
            </div>
        </div>
    </div>
</div>
  </body>
</html>


