<html>
<head>
    <title>User Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <h1>User Management Page</h1><br>
    <td><a class="btn btn-primary" href="{{url_for('del_user')}}">Delete User</a></td>
    <td><a class="btn btn-primary" href="{{url_for('del_booking')}}">Delete Bookings of User</a></td>
</body>
</html>